{% extends 'layout.html.twig' %}

{% block title %}Accueil {% endblock %}

{% block pageTitle %}Accueil{% endblock %}

{% block main %}


<table class="table table-striped table-dark">

  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Author</th>
      <th scope="col">Type</th>
      <th scope="col">Evaluer</th>
      <th scope="col">Voir</th>
    </tr>
  </thead>
    {% for m in ms %}
  <tbody>
    <tr>
      <th scope="row">{{ m.title }}</th>
      <td>{{ m.releaseYear|date("Y-m-d") }}</td>
      <td>{{ m.author }}</td>
      <td>{{ m.type }}</td>
      <td><a href="{{ path("evaluation", {"id" : m.id})}}" class="btn btn-primary">Evaluer</a></td>
      <td><a href="{{ path("single", {"id" : m.id})}}" class="btn btn-primary">Voir</a></td>
    </tr>
  </tbody>
  {% endfor %}
</table>










{% endblock %}
